*{
    box-sizing:border-box;
  }
  
  .left{
    background-color:red;
    padding:20px;
    float:left;
    width:20%;
  }
  .Main{
    background-color:blue;
    padding:20px;
    float:left;
    width:60%;
    
  }
  .right{
    background-color:cadetblue;
    padding:20px;
    float:right;
    width:15%
    
  }
  body{
    background-color:yellow;
  }
  
  .left:hover{
    background-color:white;
  }
  
  .Main:hover{
    background-color:white;
    font-size:30px;
  }
  .right:hover{
    background-color:white;
  }
  
  
  @media screen and (max-width:800px ){
    .left .right .Main{
      width:100%;
    }
  }
  
  @media screen and (max-width:480px ){
    .left .right .Main{
      width:80%;
    }
  }
  
  @media screen and (max-width:320px ){
    .left .right .Main{
      width:30%;
    }
  }