<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html layouts</title>
</head>
<body>
    <header style="background-color: #303030; height: 80px; width: 100%;">
<h1 style="font-size: 30px; color: white; text-align: center; padding-top: 15px;">Welcome to MyFirstWebpage </h1>


    </header>

<nav style="background-color: #bcdeef;" >
<h1 style="text-align: center;">Navgation Links </h1>
<ul >
    <li><a href="#">a </a></li>
    <li><a href="#">b  </a></li>
    <li><a href="#">c  </a></li>
    <li><a href="#">d  </a></li>
    <li><a href="#">e </a></li>
    <li><a href="#">f </a></li>
    <li><a href="#">g </a></li>
</ul>

</nav>

<section style="background-color: #ff7f50; width: 100%; border: 1px solid black;">
    <h2>Introduction to HTML</h2>
    <p>HTML is a markup language which is used for creating attractive web pages with the help of styling, and which </p>
    


</section>
<aside style="background-color: #e6e6fa;">
<h2>Sidebar information </h2>
<p>This contains information which will represent like a side bar for a webpage </p>


</aside>
<footer style="background-color: #f0f8ff; width: 100%; text-align: center;">
<h3>Footer Example </h3>
<p> &copy Cpyright 2018-2020 </p>

</footer>
<details style="background-color: #f5deb3;">

<summary>This is visible section: click to show other details </summary>
<p> This section only shows if user want to see it </p>
</details>
<details>
<summary>HTML is acronym for ? </summary>
<p style="color: blue; font-size: 20px;">Hyper Text MarkUp Languages </p>
</details>

</body>
</html>